@model IEnumerable<MoviesPortalWebApp.Models.TvSeriesVM>
@using BusinessLogic.Services;


@{
    ViewData["Title"] = "Index";
}

<h1>Tv Series</h1><br />

<a asp-action="Create">Create New</a>
<table class="table">
    <thead>
        <tr>            
            <th>
                
            </th>
            
            <th>
                
            </th>
            <th>
                
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                <h2>@Html.DisplayFor(modelItem => item.Title)</h2><br><br>
                <p>@item.Description</p><br>
                <p>Start Year: @item.StartYear , Ended: @item.EndYear</p><br>                
                <p>Genres: @string.Join(", ", item.TvSeriesGenres.Select(g => g.Genre.Genre))</p>
                @{
                var seasons = item.Seasons.ToList();
                }
                @foreach(var season in seasons)
                {
                <a asp-controller="TvSeries" asp-action="ListEpisodes" asp-route-id="@season.Id" >@season.SeasonNumber  </a>
                }
                

            </td>
            
            <td>
                <div class="col-md-6">
                        <img src="@item.PosterPath" width="270px"  alt="@item.Title">
               </div> 
            </td>
            <td>
                <div>
                    <p>Watch trailer:</p><br>
                    <a href="@item.TrailerUrl">@item.TrailerUrl</a>
               </div> 
                
            </td>
            <td>
                
                <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id">Details</a>
                <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.Id">Delete</a> 
                
            </td>
        </tr>
}
    </tbody>
</table>
