@model IEnumerable<MoviesPortalWebApp.Models.TvSeriesVM>
@using BusinessLogic.Services;


@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>            
            <th>
                
            </th>
            
            <th>
                
            </th>
            <th>
                
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>             
            </td>
            <td>             
            </td>
            <td style="color:darkgray">
                <h2>@Html.DisplayFor(modelItem => item.Title)</h2><br><br>
                <p>@item.Description</p><br>
                <p>Start Year: @item.StartYear , Ended: @item.EndYear</p><br>                
                <p> @string.Join(", ", item.Genres.Select(g => g.Genre))</p>
                @{
                var seasons = item.Seasons.ToList();
                }
                @foreach(var season in seasons)
                {
                <a asp-controller="TvSeries" asp-action="ListEpisodes" asp-route-id="@season.Id" >@season.SeasonNumber  </a>
                }
                

            </td>
            
            <td>
                <div class="col-md-6">
                        <a asp-action="Details" asp-route-id="@item.Id"><img src="@item.PosterPath" width="270px"  alt="@item.Title "></a>
               </div> 
            </td>
            <td>
                <div>
                    <p>Watch trailer:</p><br>
                    <a href="@item.TrailerUrl">@item.TrailerUrl</a>
               </div> 
                
            </td>
            <td>              
            </td>
            <td>              
            </td>
        </tr>
}
    </tbody>
</table>


                        <section id="top_movies text-light" class="clearfix">
    <div class="wrapper text-light">  
        <div class="movieBox">
            <section class="moviePoster">


            @foreach(var item in Model)
            {
                <div class="gallery">
                    <a asp-action="DetailsUser" asp-route-id="@item.Id"><img src="@item.PosterPath" alt="@item.Title"></a>
                    
                    <div class="desc">@item.Title</div>
                </div>
            }
        </section>
        </div>
    </div>
</section>