@model IEnumerable<MoviesPortalWebApp.Models.MovieVM>

@{
    ViewData["Title"] = "Home Page";
    
}
    <section class="showcase">
       

        <video src="~/videos/LastJedi_noBars.mp4" type="video/mp4" muted loop autoplay>
        </video>


        <div class="overlay"></div>
        <div class="text">
            <h3>Disney Plus</h3>
            <h2>Star Wars: The Last Jedi</h2>
            <p>The Star Wars saga continues as new heroes and galactic legends go on an epic adventure, 
                unlocking mysteries of the Force and shocking revelations of the past.</p>
            <a href='@Url.Action("DetailsUser", "Movie", new {  id = 2  })'>MORE</a>
        </div>

    </section>

     <section id="top_movies text-light" class="clearfix">
    <div class="wrapper text-light">  
        <div class="movieBox">
            <section class="moviePoster">


            @foreach(var item in Model)
            {
                <div class="gallery">
                    <a href='@Url.Action("DetailsUser", "Movie", new {  id=item.Id  })'>
                        <img src="@item.PosterPath" alt="@item.Title">                   
                    </a>
               <div class="desc">@item.Title</div>
               </div>
            }
        </section>
        </div>
    </div>
</section>

     <section id="poster">
       
                <div class="col-md">
                    <img src="~/images/4.jpg"
                         class="img-fluid rounded"
                         alt="" />
                </div>
            
     
    </section>

