@model IEnumerable<MoviesPortalWebApp.Models.MovieVM>

@{
    ViewData["Title"] = "Home Page";
}
    <section class="showcase">
       

        <video src="~/videos/Thor_ Ragnarok.mp4" type="video/mp4" muted loop autoplay>
        </video>


        <div class="overlay"></div>
        <div class="text">
            <h3>Disney Plus</h3>
            <h2>Thor: Ragnarok</h2>
            <p>Imprisoned on the planet Sakaar, Thor must race against time to return to Asgard and stop Ragnarök, 
                the destruction of his world, at the hands of the powerful and ruthless villain Hela.</p>
            <a href='@Url.Action("DetailsUser", "Movie", new {  id = 2  })'>MORE</a>
        </div>

    </section>

     <section id="top_movies text-light" class="clearfix">
    <div class="wrapper text-light">  
        <div class="movieBox">
            <section class="moviePoster">


            @foreach(var item in Model)
            {
                <div class="gallery">
                    <a href='@Url.Action("DetailsUser", "Movie", new {  id=item.Id  })'>
                        <img src="@item.PosterPath" alt="@item.Title">                   
                    </a>
               <div class="desc">@item.Title</div>
               </div>
            }
        </section>
        </div>
    </div>
</section>

     <section id="aboutme"
             class="p-5">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md">
                    <img src="~/images/4.jpg"
                         class="img-fluid rounded"
                         alt="" />
                </div>
            
            </div>
        </div>
    </section>

