@model MovieVM


<div class="post">
    <img src="@Model.PosterPath" alt="@Model.Title">
    <h3 class="title">@Model.Title</h3>
    <p class="post_info">@Model.ProductionYear  |  rating: @Model.ImdbRatio</p>
</div>
