@using System.Security.Claims
@using AutoMapper
@using BusinessLogic.ApiHandler
@using BusinessLogic.ApiHandler.ApiModels
@using DataAccess.Models.EntityAssigments
@using DataAccess.Repositories
@model MoviesPortalWebApp.Models.MovieVM
@using Microsoft.AspNetCore.Identity;
@using MoviesPortalWebApp.AssigmentsVM

@inject UserManager<DataAccess.Models.ApplicationUser> UserManager;
@inject IMapper _mapper;

@{
    ViewData["Title"] = "DetailsUser";
    ApiClient client = new();



    // var fMovieId = listFavourities.Select(x => x.Id);

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
}

@{
    List<CreativePersonVM> actorsFromDb = new();
    List<CreativePersonVM> directorsFromDb = new();
    PersonsRoot personsFromApi = new(); 


    if(!Model.IsApiModel)
    {
        actorsFromDb = Model.RoleCreativeMovie.Where(d => d.Role.RoleName == "Actor").Select(c => c.CreativePerson).ToList();
        directorsFromDb = Model.RoleCreativeMovie.Where(d => d.Role.RoleName == "Director").Select(c => c.CreativePerson).ToList();
    }
    else
    {
        personsFromApi = await client.GetPersons(Model.Id);
        var directors = personsFromApi.Crew;
        directorsFromDb = _mapper.Map<List<CreativePersonVM>>(directors);
        var actors = personsFromApi.Cast;
        actorsFromDb = _mapper.Map<List<CreativePersonVM>>(actors);
    }
    //var listFavourities = Model.UserFavoriteMovies.Where(u => u.UserId == @UserManager.GetUserId(User)).ToList();
    //var fMovieId = Model.UserFavoriteMovies.FirstOrDefault(u => u.UserId == @UserManager.GetUserId(User));
}

<img class="BackgroundPoster" src="@Model.BackgroundPoster" alt=""/>

 <div class="main-informations">
     <div class="genre">@string.Join(" | ", @Model.Genres.Select(g => g.Genre)).ToUpper()</div>

     <div class="Title">@Model.Title.ToUpper()</div>

<p class="inline"><strong>@Model.ProductionYear</strong><span class="vanila"> |</span> </p>
@{  }  

<strong>
      @if(directorsFromDb.Count == 1)
            {
               <p class="inline" id="name">Director:</p>
            }
            else if(directorsFromDb.Count > 1)
            {
                <p class="inline" id="name">Directors:</p>
            }
</strong>
<p class="inline"
<strong>
         @if(directorsFromDb.Count == 1)
            {
                <span>
                 <a asp-controller="CreativePerson" asp-action="DetailsUser" asp-route-id="@directorsFromDb.Single().Id" class="vanila">@directorsFromDb.Single().Name @directorsFromDb.Single().SurName</a> 
                
             </span>
            }
            else if(directorsFromDb.Count > 1)
            {
                <p>
                    @foreach (var director in directorsFromDb)
                    {<span>
                        <a asp-controller="CreativePerson" asp-action="DetailsUser" asp-route-id="@director.Id" class="vanila">@director.Name @director.SurName</a>
                       <span class="vanila"> |</span>
                    </span>
                    }

                </p>
            }
            </strong>
            </p>
          

<p class="inline"><strong>Cast:</strong></p>
<p class="inline">

<strong>
      @foreach (var person in actorsFromDb)
                    {
                        <span>
                            <a asp-controller="CreativePerson" asp-action="DetailsUser" asp-route-id="@person.Id" class="vanila">@person.Name @person.SurName</a>
                       <span class="vanila"> |</span>
                        </span>
                    }
</strong>
      </p>
         <p class="description">
         <div class="vanila-ice">@Model.Description</div>
     </p>





@*@if (User.Identity.IsAuthenticated && User.IsInRole("User"))
        {

            if(listFavourities.Count > 0)
            {
                <a class="fav" asp-controller="Account" asp-action="RemoveMovieToFavourities" asp-route-id="@fMovieId.Id"><i class="fa fa-heart"></i></a>
            } 
            else
            {
                <a class="fav" asp-controller="Account" asp-action="AddMovieToFavourities" asp-route-id="@Model.Id"><i class="fa fa-heart-o"></i></a>
            }
        }*@
</div>

