@using System.Security.Claims
@using DataAccess.Models.EntityAssigments
@using DataAccess.Repositories
@model MoviesPortalWebApp.Models.MovieVM
@using Microsoft.AspNetCore.Identity;

@inject UserManager<DataAccess.Models.ApplicationUser> UserManager;

@{
    ViewData["Title"] = "DetailsUser";
    

    
   // var fMovieId = listFavourities.Select(x => x.Id);

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
}
@{
    var cast = Model.RoleCreativeMovie.Where(d => d.Role.RoleName == "Actor").ToList();
    var listFavourities = Model.UserFavoriteMovies.Where(u => u.UserId == @UserManager.GetUserId(User)).ToList();
    var fMovieId = Model.UserFavoriteMovies.FirstOrDefault(u => u.UserId == @UserManager.GetUserId(User));
}
<img class="BackgroundPoster" src="@Model.BackgroundPoster" alt=""/>

 <div class="main-informations">
     <div class="genre">@string.Join(" | ", @Model.Genres.Select(g => g.Genre)).ToUpper()</div>

     <div class="Title">@Model.Title.ToUpper()</div>

<p class="inline"><strong>@Model.ProductionYear</strong><span class="vanila"> |</span> </p>
@{var directors = Model.RoleCreativeMovie.Where(d => d.Role.RoleName == "Director").ToList();  }  

<strong>
      @if(directors.Count == 1)
            {
               <p class="inline" id="name">Director:</p>
            }
            else if(directors.Count > 1)
            {
                <p class="inline" id="name">Directors:</p>
            }
</strong>
<p class="inline"
<strong>
         @if(directors.Count == 1)
            {
                <span>
                 <a asp-controller="CreativePerson" asp-action="DetailsUser" asp-route-id="@directors.Single().CreativePersonId" class="vanila">@directors.Single().CreativePerson.Name @directors.Single().CreativePerson.SurName</a> 
                
             </span>
            }
            else if(directors.Count > 1)
            {
                <p>
                    @foreach (var director in directors)
                    {<span>
                        <a asp-controller="CreativePerson" asp-action="DetailsUser" asp-route-id="@director.CreativePersonId" class="vanila">@director.CreativePerson.Name @director.CreativePerson.SurName</a>
                       <span class="vanila"> |</span>
                    </span>
                    }

                </p>
            }
            </strong>
            </p>
          

<p class="inline"><strong>Cast:</strong></p>
<p class="inline">

<strong>
      @foreach (var person in cast)
                    {
                        <span>
                            <a asp-controller="CreativePerson" asp-action="DetailsUser" asp-route-id="@person.CreativePersonId" class="vanila">@person.CreativePerson.Name @person.CreativePerson.SurName</a>
                       <span class="vanila"> |</span>
                        </span>
                    }
</strong>
      </p>
         <p class="description">
         <div class="vanila-ice">@Model.Description</div>
     </p>


@if (User.Identity.IsAuthenticated && User.IsInRole("User"))
        {

            if(listFavourities.Count > 0)
            {
                <a class="fav" asp-controller="Account" asp-action="RemoveMovieToFavourities" asp-route-id="@fMovieId.Id"><i class="fa fa-heart"></i></a>
            } 
            else
            {
                <a class="fav" asp-controller="Account" asp-action="AddMovieToFavourities" asp-route-id="@Model.Id"><i class="fa fa-heart-o"></i></a>
            }
        }
</div>
