@model IEnumerable<MoviesPortalWebApp.Models.MovieVM>

@{
    ViewData["Title"] = "Index";
    
}

<h1>List of movies</h1><br /><br />

<form asp-controller="Movie" asp-action="IndexUser">
    
    
    <div class="col-sm-2">
        <input type="text" class="form-control" name="SearchString" /><input type="submit" class="btn btn-outline-light" value="Search!" />
        
    </div>    
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductionYear)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.PosterPath)
            </th>
          @*  <th>
                @Html.DisplayNameFor(model => model.MovieGenres)
            </th>      *@    
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductionYear)
            </td>
            <td>
              
               <div class="col-md-6">
                    <a href='@Url.Action("DetailsUser", "Movie", new {  id=item.Id  })'>
                    <img src="@item.PosterPath" width="40%" alt="@item.Title">
                    </a>
               </div>


           </td>
         @*  <td>
                @string.Join(", ", item.MovieGenres.Select(g => g.Genre.Genre))
            </td>     *@
            
        </tr>
}
    </tbody>
</table>
