@model MoviesPortalWebApp.Models.CreativePersonVM

@{
    ViewData["Title"] = "DetailsUser";
    var actorInMovies = ViewBag.ActorInMovies;
    var directorInMovies = ViewBag.DirectorInMovies;
}
<div class="cp-biography">    
    <hr />
    <div class="cp-photo">
        <img src="@Model.PhotographyPath" alt="@Model.Name">
    </div>
    
    <div class="cp-details">
        <h3>@Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.SurName) <br></h3>
        <div class="biography">@Html.DisplayFor(model => model.Biography) <br></div>
        Born: @Html.DisplayFor(model => model.DateOfBirth) <br>
        <hr />
        @if(actorInMovies.Count > 0)
        {
            <dt class = "col-sm-8">
                <p>Actor in movies: </p>
            </dt>
            <dd class = "col-sm-30">
                    <p>
                        @foreach (var movie in actorInMovies)
                        {
                            <span>
                                <a asp-controller="Movie" asp-action="DetailsUser" asp-route-id="@movie.Id" class="custom-link">@movie.Title</a>
                           </span>
                        }
                    </p>
            </dd>
        }

        @if(directorInMovies.Count > 0)
        {
           <dt class = "col-sm-8">
            <p>Director in movies: </p>
            </dt>

            <dd class = "col-sm-30">
                    <p>
                        @foreach (var movie in directorInMovies)
                        {
                            <span>
                                <a asp-controller="Movie" asp-action="DetailsUser" asp-route-id="@movie.Id" class="custom-link">@movie.Title</a>
                           </span>
                        }

                    </p>
            </dd>
        }


    </div>
    
   
</div>

